@model ApiPoc.Representations.AccountCollection
@{
    ViewBag.Title = "Accounts";
}
<div class="accounts">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Accounts")</h2>
    <ul class="items">
        @foreach(var item in Model.Items)
        {
            <li class="account-item">
                <span class="id">@item.Id</span> - <span class="last-name">@item.LastName</span>, <span class="first-name">@item.FirstName</span> @Html.Link(item.GetLinkBag().GetFirstByRel(Rel.Self))
            </li>
        }
    </ul>
    @Html.Links(Model.GetLinkBag().GetUnusedPlainLinks())
</div>
