@model ApiPoc.Representations.SubscriberDetailedCollection
@{
    ViewBag.Title = "Subscribers (detailed list)";
}
<div class="subscribers-detailed">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Subscribers List with details")</h2>
    <ul class="items">
        @foreach(var item in Model.Items)
        {
            <li class="subscriber-detail">
                <dl>
                    <dt class="id">Id</dt>
                    <dd class="id">@item.Id</dd>
                    <dt class="last-name">Last name</dt>
                    <dd class="last-name">@item.LastName</dd>
                    <dt class="first-name">First name</dt>
                    <dd class="first-name">@item.FirstName</dd>
                    <dt class="birthday">Birthday</dt>
                    <dd class="birthday">@item.Birthday</dd>
                    <dt class="email">Email</dt>
                    <dd class="email">@item.Email</dd>
                </dl>
                @Html.Links(item.GetLinkBag().GetByRel(Rel.Unsubscribe), "actions")
                @Html.Links(item.GetLinkBag().GetUnusedPlainLinks())
            </li>
        }
    </ul>
    @Html.Links(Model.GetLinkBag().GetUnusedPlainLinks())
</div>
