@model ApiPoc.Representations.SubscriberDetail
@{
    ViewBag.Title = "Subscriber detail";
}
<div class="subscriber-detail">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Subscriber " + Model.Id)</h2>
    <dl>
        <dt class="id">Id</dt>
        <dd class="id">@Model.Id</dd>
        <dt class="last-name">Last name</dt>
        <dd class="last-name">@Model.LastName</dd>
        <dt class="first-name">First name</dt>
        <dd class="first-name">@Model.FirstName</dd>
        <dt class="birthday">Birthday</dt>
        <dd class="birthday">@Model.Birthday</dd>
        <dt class="email">Email</dt>
        <dd class="email">@Model.Email</dd>
    </dl>
    @Html.Links(Model.GetLinkBag().GetUnusedPlainLinks())

    <div class="operations">
        <h3>Operations</h3>
        <div class="unsubscribe">
            <h4>Unsubscribe</h4>
            @Html.EmptyForm(Model.GetLinkBag().GetFirstByRel(Rel.Unsubscribe), "Unsubscribe")
        </div>
        <div class="edit-subscriber">
            <h4>Edit subscriber</h4>
            @using (Html.BeginForm(Model.GetLinkBag().GetFirstByRel(Rel.EditSubscriber), "Edit subscriber"))
            {
                <div>
                    <label for="firstName" class="first-name">First Name</label>
                    <input name="firstName" class="first-name" type="text" value="@Model.FirstName" />
                </div>
                <div>
                    <label for="lastName" class="last-name">Last Name</label>
                    <input name="lastName" class="last-name" type="text" value="@Model.LastName" />
                </div>
                <div>
                    <label for="birthday" class="birthday">Birthday</label>
                    <input name="birthday" class="birthday" type="date" value="@string.Format("{0:yyyy-MM-dd}", Model.Birthday)" />
                </div>
            }
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>

</div>
