@model ApiPoc.Representations.SubscriberCollection
@{
    ViewBag.Title = "Subscribers";
}
<div class="subscribers">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Subscribers")</h2>
    <ul class="items">
        @foreach(var item in Model.Items)
        {
            <li class="subscriber-item">
                <span class="id">@item.Id</span> - <span class="last-name">@item.LastName</span>, <span class="first-name">@item.FirstName</span> @Html.Link(item.GetLinkBag().GetFirstByRel(Rel.Alternate))
                <!-- Show delete link in a different way, differentiate safe links? -->
            </li>
        }
    </ul>
    @Html.Links(Model.GetLinkBag().GetUnusedSafeLinks())
</div>
