@model ApiPoc.Representations.SubscriberCollectionRepresentation
@{
    ViewBag.Title = "Subscribers";
}
<div id="subscribers">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Subscribers")</h2>
    <ul id="items">
        @foreach(var item in Model.Items)
        {
            var itemLinkBag = new LinkBag(item.Links);
            <li>
                <span class="id">@item.Id</span> - <span class="last-name">@item.LastName</span>, <span class="first-name">@item.FirstName</span> @Html.Link(item.GetLinkBag().GetFirstByRel(Rel.Self))
                <!-- Show delete link in a different way, differentiate safe links? -->
            </li>
        }
    </ul>
    <footer>
        @Html.Links(Model.GetLinkBag().GetUnusedSafeLinks())
    </footer>
</div>
