@model ApiPoc.Representations.AccountCollection
@inject Microsoft.Framework.OptionsModel.IOptions<ApiPoc.AppSettings> settings

<div class="accounts">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Accounts")</h2>
    <small><a target="_blank" href="@(settings.Options.DocumentationBaseUrl + "models/AccountColection.md")">See documentation about <code>AccountColection</code> model</a></small>
    <ul class="items">
        @foreach(var item in Model.Items)
        {
            <li class="account-item">
                <span class="id">@item.Id</span> - <span class="last-name">@item.LastName</span>, <span class="first-name">@item.FirstName</span> @Html.Link(item.GetLinkBag().GetFirstByRel(Rel.Self))
            </li>
        }
    </ul>
    @Html.Partial("Forms/UnusedLinksAndForms", Model)
</div>
