@model ApiPoc.Representations.SubscriberDetail
@inject Microsoft.Framework.OptionsModel.IOptions<ApiPoc.AppSettings> settings
<div class="subscriber-detail">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Subscriber " + Model.Id)</h2>
    <small><a target="_blank" href="@(settings.Options.DocumentationBaseUrl + "models/SubscriberDetail.md")">See documentation about <code>SubscriberDetail</code> model</a></small>
    <dl>
        <dt class="id">Id</dt>
        <dd class="id">@Model.Id</dd>
        <dt class="last-name">Last name</dt>
        <dd class="last-name">@Model.LastName</dd>
        <dt class="first-name">First name</dt>
        <dd class="first-name">@Model.FirstName</dd>
        <dt class="birthday">Birthday</dt>
        <dd class="birthday">@Model.Birthday</dd>
        <dt class="email">Email</dt>
        <dd class="email">@Model.Email</dd>
    </dl>
    @Html.Partial("Forms/UnusedLinksAndForms", Model)
</div>
