@model ApiPoc.Representations.SubscriberDetail
<div class="subscriber-detail">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Subscriber " + Model.Id)</h2>
    <dl>
        <dt class="id">Id</dt>
        <dd class="id">@Model.Id</dd>
        <dt class="last-name">Last name</dt>
        <dd class="last-name">@Model.LastName</dd>
        <dt class="first-name">First name</dt>
        <dd class="first-name">@Model.FirstName</dd>
        <dt class="birthday">Birthday</dt>
        <dd class="birthday">@Model.Birthday</dd>
        <dt class="email">Email</dt>
        <dd class="email">@Model.Email</dd>
    </dl>
    @Html.Links(Model.GetLinkBag().GetUnusedPlainLinks())
    <div class="operations">
        <h3>Operations</h3>
        @Html.Partial("Forms/Unsubscribe", Model)
        @Html.Partial("Forms/EditSubscriber", Model)
    </div>
</div>
